body {
  background-color: #2d545e; /* Night Blue */
  color: #e1b382; /* Sand Tan */
  font-family: Arial, sans-serif;
}

.container {
  margin: 0 auto;
  padding: 20px;
  max-width: 800px;
}

h1 {
  color: #c89666; /* Sand Tan Shadow */
}

button {
  background-color: #12343b; /* Night Blue Shadow */
  color: #FFFFFF; /* White */
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 10px;
}

button:hover {
  background-color: #e1b382; /* Sand Tan */
}